@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 78% 93%;
    --foreground: 222.2 84% 4.9%;
    --card: 188 78% 97%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 188 78% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 196 76% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 185 68% 80%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 185 68% 85%;
    --muted-foreground: 222.2 84% 30.9%;
    --accent: 185 68% 70%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 196 76% 80%;
    --input: 196 76% 88%;
    --ring: 196 76% 52%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 8.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 196 76% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 185 68% 70%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 196 76% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
